header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    color: $brand-primary-green;
    
}
.inner-footer{
    max-width: 1920px;
    margin: auto;
    color: $brand-primary-green;
}